<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
        rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
    <title>Best Cars - Contact Us </title>
</head>

<body>
    {% include "djangoapp/header.html" %}
    <div class="container-fluid" style="margin-top:80px">
        <h1>Contact Us</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">+49 (0) 123 1234 1234</li>
            <li class="list-group-item">Street name 1 <br>12345 city</li>
            <a href="mailto:info@bestcars.com" class="list-group-item">info@bestcars.com</a>
          </ul>
    </div>
</bod<>
</html>