<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
    {% include "djangoapp/header.html" %}
    <div class="container" style="margin-top:80px">
        <h3>Reviews for <b>{{dealer.full_name}}</b></h3>
        {% if reviews %}
            <div class="card-columns">
                {% for review in reviews %}
                <div class="card">
                    <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-left" style="height: 38px; margin: 4px;">
                    <div class="card-body bg-light text-dark">
                        {% if review.car_make %}
                            <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                            <h5 class="card-title">{{ review.car_year }}</h5>
                        {% else %}
                            <h5 class="card-title">Review without purchase</h5>
                        {% endif %}
                        <p class="card-text">{{ review.review }}</p>
                    </div>
                </div>                
                {% endfor %}
            </div>  
        {% else %}
            <p></br>There are no reviews for this dealership yet.</br></p>
        {% endif %}
        {% if user.is_authenticated %}
            <div style="margin: 10px;">
                <a class="btn btn-secondary" href="{% url 'djangoapp:add_review' dealer.id %}"><b>Add a new review</b></a>
            </div>
        {% endif %}
    </div>
    </body>

</html>